AMAZON_CREATORS_CLIENT_ID=
AMAZON_CREATORS_CLIENT_SECRET=
AMAZON_CREATORS_CREDENTIAL_VERSION=3.1
AMAZON_ASSOCIATE_TAG=framelimit20-20
AMAZON_CREATORS_MARKETPLACE=www.amazon.com
AMAZON_CREATORS_CURRENCY=USD
